body {
    margin: 0;
    padding: 0;
    background-color: #1f1f23;
    color: aliceblue;

}



.bg-dark-blue {
    background-color: rgb(14, 15, 22);
}

.main-header-text {
    padding-bottom: 2rem;
}

div .tomato-color {
    color: tomato;
}

.header-text {
    font-size: 3rem;

}

.header-text .miraj {
    color: tomato;
}



.progress-bar-color {
    background-color: tomato;
}

.img img {
    /* max-width: 620px; */
}